<header>
    <div class="mobile-fix-menu"></div>
    <div class="container-fluid custom-padding">
        <div class="header-section">
            <div class="header-left">
                <div class="brand-logo">
                    <a href="index.html">
                        <img src="../assets/images/icon/logo.png" alt="logo" class="img-fluid blur-up lazyload">
                    </a>
                </div>
                <div class="search-box">
                    <i data-feather="search" class="icon iw-16 icon-light"></i>
                    <input type="text" class="form-control search-type" placeholder="find friends...">
                    <div class="icon-close">
                        <i data-feather="x" class="iw-16 icon-light"></i>
                    </div>
                    <div class="search-suggestion">
                        <span class="recent">recent search</span>
                        <ul class="friend-list">
                            <li>
                                <div class="media">
                                    <img src="../assets/images/user-sm/9.jpg" alt="user">
                                    <div class="media-body">
                                        <div>
                                            <h5 class="mt-0">Paige Turner</h5>
                                            <h6> 1 mutual friend</h6>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img src="../assets/images/user-sm/12.jpg" alt="user">
                                    <div class="media-body">
                                        <div>
                                            <h5 class="mt-0">Paige Turner</h5>
                                            <h6> 1 mutual friend</h6>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img src="../assets/images/user-sm/1.png" alt="user">
                                    <div class="media-body">
                                        <div>
                                            <h5 class="mt-0">Paige Turner</h5>
                                            <h6> 1 mutual friend</h6>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="btn-group">
                    <!-- home -->
                    <li class="header-btn home-btn">
                        <a class="main-link" href="index.html">
                            <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="home"></i>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-home icon-light stroke-width-3 iw-16 ih-16">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                        </a>
                    </li>
                    <!-- add friend -->
                    <li class="header-btn custom-dropdown dropdown-lg add-friend">
                        <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="user-plus"></i>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-user-plus icon-light stroke-width-3 iw-16 ih-16">
                                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="8.5" cy="7" r="4"></circle>
                                <line x1="20" y1="8" x2="20" y2="14"></line>
                                <line x1="23" y1="11" x2="17" y2="11"></line>
                            </svg>
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-header">
                                <span>friend request</span>
                                <div class="mobile-close">
                                    <h5>close</h5>
                                </div>
                            </div>
                            <div class="dropdown-content">
                                <ul class="friend-list">
                                    <li>
                                        <div class="media">
                                            <img src="../assets/images/user-sm/5.jpg" alt="user">
                                            <div class="media-body">
                                                <div>
                                                    <h5 class="mt-0">Paige Turner</h5>
                                                    <h6> 1 mutual friend</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="action-btns">
                                            <button type="button" class="btn btn-solid">confirm</button>
                                            <button type="button" class="btn btn-outline ms-1">delete</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img src="../assets/images/user-sm/6.jpg" alt="user">
                                            <div class="media-body">
                                                <div>
                                                    <h5 class="mt-0">Paige Turner</h5>
                                                    <h6> 1 mutual friend</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="action-btns">
                                            <button type="button" class="btn btn-solid">confirm</button>
                                            <button type="button" class="btn btn-outline ms-1">delete</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img src="../assets/images/user-sm/7.jpg" alt="user">
                                            <div class="media-body">
                                                <div>
                                                    <h5 class="mt-0">Paige Turner</h5>
                                                    <h6> 1 mutual friend</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="action-btns">
                                            <button type="button" class="btn btn-solid">confirm</button>
                                            <button type="button" class="btn btn-outline ms-1">delete</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img src="../assets/images/user-sm/2.jpg" alt="user">
                                            <div class="media-body">
                                                <div>
                                                    <h5 class="mt-0">Paige Turner</h5>
                                                    <h6> 1 mutual friend</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="action-btns">
                                            <button type="button" class="btn btn-solid">confirm</button>
                                            <button type="button" class="btn btn-outline ms-1">delete</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <div class="post-stats">
                    <ul>
                        <li>
                            <h3>326</h3>
                            <span>total posts</span>
                        </li>
                        <li>
                            <h3>2456</h3>
                            <span>total friends</span>
                        </li>
                    </ul>
                </div>
                <ul class="option-list">
                    <!-- message -->
                    <li class="header-btn custom-dropdown dropdown-lg btn-group message-btn">
                        <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="icon-envelope icon-light stroke-width-3 iw-16 ih-16"
                                data-feather="message-circle"></i><span class="count success">2</span>



                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header">
                                <div class="left-title">
                                    <span>messages</span>
                                </div>
                                <div class="right-option">
                                    <ul>
                                        <li>
                                            <a href="messanger.html">
                                                <i class="iw-16 ih-16" data-feather="maximize"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="iw-16 ih-16" data-feather="edit"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="iw-16 ih-16" data-feather="more-horizontal"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mobile-close">
                                    <h5>close</h5>
                                </div>
                            </div>
                            <div class="search-bar input-style icon-left">
                                <i class="iw-16 ih-16 icon" data-feather="search"></i>
                                <input type="text" class="form-control" placeholder="search messages...">
                            </div>
                            <div class="dropdown-content">
                                <ul class="friend-list">
                                    <li>
                                        <a href="#">
                                            <div class="media">
                                                <img src="../assets/images/user-sm/1.png" alt="user">
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0">Paige Turner</h5>
                                                        <h6>Are you there ?</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="active-status">
                                                <span class="active"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media">
                                                <img src="../assets/images/user-sm/2.jpg" alt="user">
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0">Paige Turner</h5>
                                                        <h6>Are you there ?</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media">
                                                <img src="../assets/images/user-sm/3.jpg" alt="user">
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0">Bob Frapples</h5>
                                                        <h6>hello ! how are you ?</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="active-status">
                                                <span class="offline"></span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- dark/light -->
                    <li class="header-btn custom-dropdown">
                        <a id="dark" class="main-link" href="javascript:void(0)">
                            <i class="icon-moon icon-light stroke-width-3 iw-16 ih-16" data-feather="moon"></i>
                        </a>
                        <a id="light" class="main-link d-none" href="javascript:void(0)">
                            <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="sun"></i>
                        </a>
                    </li>
                    <!-- mobile app button -->
                    <li class="header-btn custom-dropdown d-md-none d-block app-btn">
                        <a class="main-link" href="javascript:void(0)">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid icon-light stroke-width-3 iw-16 ih-16"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                        </a>
                        <div class="overlay-bg app-overlay"></div>
                        <div class="app-box">
                            <div class="row">
                                <div class="col-4">
                                    <div class="app-icon">
                                        <a href="index.html">
                                            <div class="icon">
                                                <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file bar-icon"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                                            </div>
                                            <h5>Newsfeed</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="app-icon">
                                        <a href="single-page.html">
                                            <div class="icon">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star bar-icon"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                            </div>
                                            <h5>favourite</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="app-icon">
                                        <a href="#">
                                            <div class="icon">
                                                <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users bar-icon"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                            </div>
                                            <h5>group</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="app-icon">
                                        <a href="music.html">
                                            <div class="icon">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-headphones bar-icon"><path d="M3 18v-6a9 9 0 0 1 18 0v6"></path><path d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z"></path></svg>
                                            </div>
                                            <h5>music</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="app-icon">
                                        <a href="weather.html">
                                            <div class="icon">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cloud bar-icon"><path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"></path></svg>
                                            </div>
                                            <h5>weather</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="app-icon">
                                        <a href="event.html">
                                            <div class="icon">
                                                <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar bar-icon"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                            </div>
                                            <h5>calender</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="app-icon">
                                        <a href="#">
                                            <div class="icon">
                                                <svg class="bar-icon">
                                                    <use class="fill-color"></use>
                                                </svg>
                                            </div>
                                            <h5>event</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="app-icon">
                                        <a href="games.html">
                                            <div class="icon">
                                                <svg class="bar-icon">
                                                    <use class="fill-color">
                                                    </use>
                                                </svg>
                                            </div>
                                            <h5>games</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- notification -->
                    <li class="header-btn custom-dropdown dropdown-lg btn-group notification-btn">
                        <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="icon-bell-alt icon-light stroke-width-3 iw-16 ih-16" data-feather="bell"></i><span
                                class="count warning">2</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header">
                                <span>Notification</span>
                                <div class="mobile-close">
                                    <h5>close</h5>
                                </div>
                            </div>
                            <div class="dropdown-content">
                                <ul class="friend-list">
                                    <li class="d-block">
                                        <div>
                                            <div class="media">
                                                <img src="../assets/images/user-sm/5.jpg" alt="user">
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0"><span>Paige Turner</span> send you a friend
                                                            request
                                                        </h5>
                                                        <h6> 1 mutual friend</h6>
                                                        <div class="action-btns">
                                                            <button type="button" class="btn btn-solid"><i
                                                                    data-feather="check"></i></button>
                                                            <button type="button" class="btn btn-solid ms-1"><i
                                                                    data-feather="x"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media">
                                                <img src="../assets/images/user-sm/6.jpg" alt="user">
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0"><span>Bob Frapples</span> add their stories
                                                        </h5>
                                                        <h6>8 hour ago</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media">
                                                <img src="../assets/images/user-sm/7.jpg" alt="user">
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0"><span>Josephin water</span> have birthday
                                                            today
                                                        </h5>
                                                        <h6>sun at 5.55 AM</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media">
                                                <img src="../assets/images/user-sm/2.jpg" alt="user">
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0"><span>Petey Cruiser</span> added a new
                                                            photo
                                                        </h5>
                                                        <h6>sun at 5.40 AM</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- profile -->
                    <li class="header-btn custom-dropdown profile-btn btn-group">
                        <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="icon-light stroke-width-3 d-sm-none d-block iw-16 ih-16" data-feather="user"></i>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-user icon-light stroke-width-3 d-sm-none d-block iw-16 ih-16">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                            <div class="media d-none d-sm-flex">
                                <div class="user-img">
                                    <img src="../assets/images/user-sm/1.png" class="img-fluid blur-up lazyload bg-img"
                                        alt="user">
                                    <span class="available-stats online"></span>
                                </div>
                                <div class="media-body d-none d-md-block">
                                    <h4>Josephin water</h4>
                                    <span>active now</span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header">
                                <span>profile</span>
                                <div class="mobile-close">
                                    <h5>close</h5>
                                </div>
                            </div>
                            <div class="dropdown-content">
                                <ul class="friend-list">
                                    <li>
                                        <a href="profile.html">
                                            <div class="media">
                                                <i data-feather="user"></i>
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0">Profile</h5>
                                                        <h6>Profile preview & settings</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="settings.html">
                                            <div class="media">
                                                <i data-feather="settings"></i>
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0">setting & privacy</h5>
                                                        <h6>all settings & privacy</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="help-support.html">
                                            <div class="media">
                                                <i data-feather="help-circle"></i>
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0">help & support</h5>
                                                        <h6>browse help here</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="login.html">
                                            <div class="media">
                                                <i data-feather="log-out"></i>
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0">log out</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>