<!-- Edit Profile modal start -->
<div class="modal fade mobile-full-width" id="editProfile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="edit-profile-sec">
                    <div class="profile-wrap">
                        <div class="edit-title">
                            <div class="icon">
                                <i class="iw-16 ih-16" data-feather="image"></i>
                            </div>
                            <h5>edit profile image</h5>
                        </div>
                        <div class="edit-content">
                            <div class="profile-pic">
                                <div>
                                    <img src="../assets/images/user-sm/1.png" class="img-fluid blur-up lazyload bg-img"
                                        alt="">
                                </div>
                                <a href="#" data-bs-toggle="modal" data-bs-dismiss="modal"
                                    data-bs-target="#choosePhoto">edit
                                    image</a>
                            </div>
                        </div>
                    </div>
                    <div class="profile-wrap">
                        <div class="edit-title">
                            <div class="icon">
                                <i class="icon-suitcase"></i>
                            </div>
                            <h5>work details</h5>
                            <a href="#" class="btn btn-outline ms-auto">+ add work</a>
                        </div>
                        <div class="edit-content">
                            <h5>UX Designer at Google <a><i class="iw-16 ih-16" data-feather="edit-2"></i></a>
                            </h5>
                        </div>
                    </div>
                    <div class="profile-wrap">
                        <div class="edit-title">
                            <div class="icon">
                                <i class="icon-trophy"></i>
                            </div>
                            <h5>education</h5>
                            <a href="#" class="btn btn-outline ms-auto">+ add education</a>
                        </div>
                        <div class="edit-content">
                            <h5>At London Univercity - 2015
                                <a> <i class="iw-16 ih-16" data-feather="edit-2"></i></a>
                            </h5>
                        </div>
                    </div>
                    <div class="profile-wrap">
                        <div class="edit-title">
                            <div class="icon">
                                <i class="icon-heart"></i>
                            </div>
                            <h5>relationship status</h5>
                        </div>
                        <div class="edit-content">
                            <form class="edit-radio row">
                                <div class="form-check col-sm-6">
                                    <label class="form-check-label" for="exampleRadios1">
                                        <input class="form-check-input radio_animated" type="radio" name="exampleRadios"
                                            id="exampleRadios1" value="option1" checked>
                                        single
                                    </label>
                                </div>
                                <div class="form-check col-sm-6">
                                    <label class="form-check-label" for="exampleRadios2">
                                        <input class="form-check-input radio_animated" type="radio" name="exampleRadios"
                                            id="exampleRadios2" value="option2">
                                        in a relationship
                                    </label>
                                </div>
                                <div class="form-check col-sm-6">
                                    <label class="form-check-label" for="exampleRadios3">
                                        <input class="form-check-input radio_animated" type="radio" name="exampleRadios"
                                            id="exampleRadios3" value="option3">
                                        engaged
                                    </label>
                                </div>
                                <div class="form-check col-sm-6">
                                    <label class="form-check-label" for="exampleRadios4">
                                        <input class="form-check-input radio_animated" type="radio" name="exampleRadios"
                                            id="exampleRadios4" value="option3">
                                        married
                                    </label>
                                </div>
                                <div class="form-check col-sm-6">
                                    <label class="form-check-label" for="exampleRadios5">
                                        <input class="form-check-input radio_animated" type="radio" name="exampleRadios"
                                            id="exampleRadios5" value="option3">
                                        divorced
                                    </label>
                                </div>
                                <div class="form-check col-sm-6">
                                    <label class="form-check-label" for="exampleRadios6">
                                        <input class="form-check-input radio_animated" type="radio" name="exampleRadios"
                                            id="exampleRadios6" value="option3">
                                        widowed
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="profile-wrap">
                        <div class="edit-title">
                            <div class="icon">
                                <i class="icon-map-marker"></i> 
                            </div>
                            <h5>current city</h5>
                            <a href="#" class="btn btn-outline ms-auto">+ add city</a>
                        </div>
                        <div class="edit-content">
                            <h5>London
                                <a> <i class="iw-18 ih-18" data-feather="edit-2"></i></a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-solid">save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Profile modal end -->


<!-- choose photo modal start -->
<div class="modal fade mobile-full-width" id="choosePhoto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered Choose-photo-modal modal-custom-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose Photo</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a id="uploaded-tab" class="nav-link active" data-bs-toggle="tab" href="#uploaded" role="tab"
                            aria-selected="true">Uploaded</a>
                    </li>
                    <li class="nav-item">
                        <a id="album-tab" class="nav-link" data-bs-toggle="tab" href="#album" role="tab"
                            aria-selected="false">Album</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="uploaded" role="tabpanel" aria-labelledby="uploaded-tab">
                        <div class="row gallery-photo ratio_landscape">
                            <div class="col-sm-4 col-6">
                                <label for="chk-ani1"></label>
                                <input class="radio_animated" id="chk-ani1" type="radio" name="Radios" checked="">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="../assets/images/post/10.jpg"
                                            class="img-fluid blur-up lazyload bg-img" alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4 col-6">
                                <label for="chk-ani2"></label>
                                <input class="radio_animated" id="chk-ani2" type="radio" name="Radios">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="../assets/images/post/9.jpg" class="img-fluid blur-up lazyload bg-img"
                                            alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4 col-6">
                                <label for="chk-ani3"> </label>
                                <input class="radio_animated" id="chk-ani3" type="radio" name="Radios">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="../assets/images/post/8.jpg" class="img-fluid blur-up lazyload bg-img"
                                            alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4 col-6">
                                <label for="chk-ani4"> </label>
                                <input class="radio_animated" id="chk-ani4" type="radio" name="Radios">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="../assets/images/post/7.jpg" class="img-fluid blur-up lazyload bg-img"
                                            alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4 col-6">
                                <label for="chk-ani5"></label>
                                <input class="radio_animated" id="chk-ani5" type="radio" name="Radios">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="../assets/images/post/6.jpg" class="img-fluid blur-up lazyload bg-img"
                                            alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4 col-6">
                                <label for="chk-ani6"> </label>
                                <input class="radio_animated" id="chk-ani6" type="radio" name="Radios">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="../assets/images/post/5.jpg" class="img-fluid blur-up lazyload bg-img"
                                            alt="">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="album" role="tabpanel" aria-labelledby="album-tab">
                        <div class="row gallery-album">
                            <div class="col-6">
                                <a class="card add-card"> </a>

                                <div class="add-icon">
                                    <i class="iw-30 ih-30" data-feather="plus-circle"></i>
                                    <input type="file" class="form-control-file">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">create album</h5>
                                </div>

                            </div>
                            <div class="col-6">
                                <a class="card collection">
                                    <img class="card-img-top img-fluid blur-up lazyload bg-img"
                                        src="../assets/images/post/3.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Cover photos</h5>
                                        <h6>3 photos</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6">
                                <a class="card collection">
                                    <img class="card-img-top img-fluid blur-up lazyload bg-img"
                                        src="../assets/images/post/4.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">profile photos</h5>
                                        <h6>3 photos</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6">
                                <a class="card collection">
                                    <img class="card-img-top img-fluid blur-up lazyload bg-img"
                                        src="../assets/images/post/10.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">family trip</h5>
                                        <h6>3 photos</h6>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="gallery-open">
                            <div class="close-album">
                                <h5>close album</h5>
                            </div>
                            <div class="row gallery-photo ratio_landscape">
                                <div class="col-sm-4 col-6">
                                    <label for="chk-ani11"></label>
                                    <input class="radio_animated" id="chk-ani11" type="radio" name="Radios1" checked="">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="../assets/images/post/1.jpg"
                                                class="img-fluid blur-up lazyload bg-img" alt="">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-4 col-6">
                                    <label for="chk-ani12"></label>
                                    <input class="radio_animated" id="chk-ani12" type="radio" name="Radios1">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="../assets/images/post/2.jpg"
                                                class="img-fluid blur-up lazyload bg-img" alt="">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-4 col-6">
                                    <label for="chk-ani13"></label>
                                    <input class="radio_animated" id="chk-ani13" type="radio" name="Radios1">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="../assets/images/post/3.jpg"
                                                class="img-fluid blur-up lazyload bg-img" alt="">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-4 col-6">
                                    <label for="chk-ani14"></label>
                                    <input class="radio_animated" id="chk-ani14" type="radio" name="Radios1">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="../assets/images/post/4.jpg"
                                                class="img-fluid blur-up lazyload bg-img" alt="">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-4 col-6">
                                    <label for="chk-ani15"></label>
                                    <input class="radio_animated" id="chk-ani15" type="radio" name="Radios1">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="../assets/images/post/5.jpg"
                                                class="img-fluid blur-up lazyload bg-img" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <label for="chk-ani16"></label>
                                    <input class="radio_animated" id="chk-ani16" type="radio" name="Radios1">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="../assets/images/post/6.jpg"
                                                class="img-fluid blur-up lazyload bg-img" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" data-bs-dismiss="modal" class="btn btn-solid">choose Photo</button>
            </div>
        </div>
    </div>
</div>
<!-- choose photo modal end -->


<!-- video player model start -->
<div class="modal fade bd-example-modal-lg" id="videoPlayer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body video-model">
                <iframe class="video" src="https://www.youtube.com/embed/TKnufs85hXk"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- video player model end -->


<!-- gallery image model -->
<div class="modal comment-model" id="imageModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div>
                <div class="image-gallery">
                    <div class="row m-0">
                        <div class="col-xl-9 col-lg-8 p-0">
                            <a href="#" data-bs-dismiss="modal"><i data-feather="x"
                                    class="icon-light close-btn"></i></a>
                            <div class="slide-1 box-arrow dots-number">
                                <div>
                                    <div class="img-part">
                                        <img src="../assets/images/post/1.jpg" class="img-fluid blur-up lazyload"
                                            alt="">
                                    </div>
                                </div>
                                <div>
                                    <div class="img-part">
                                        <img src="../assets/images/post/16.jpg" class="img-fluid blur-up lazyload"
                                            alt="">
                                    </div>
                                </div>
                                <div>
                                    <div class="img-part">
                                        <img src="../assets/images/post/17.jpg" class="img-fluid blur-up lazyload"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 p-0">
                            <div class="comment-part">
                                <div class="user-detail">
                                    <div class="user-media">
                                        <div class="media">
                                            <a class="user-img">
                                                <img src="../assets/images/user-sm/1.png"
                                                    class="img-fluid blur-up lazyload bg-img" alt="user">
                                                <span class="available-stats"></span>
                                            </a>
                                            <div class="media-body">
                                                <h5 class="user-name">Paige Turner</h5>
                                                <h6>alabma, USA</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="setting-btn ms-auto setting-dropdown no-bg">
                                        <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                            <div role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="icon icon-font-color iw-14"
                                                    data-feather="more-horizontal"></i>
                                            </div>
                                            <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                data-feather="bookmark"></i>save
                                                            post</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                data-feather="edit"></i>edit post</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                data-feather="x-square"></i>hide
                                                            post</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-panel mb-0">
                                    <div class="post-wrapper">
                                        <div class="post-details">
                                            <div class="like-panel">
                                                <div class="left-emoji">
                                                    <ul>
                                                        <li>
                                                            <img src="https://themes.pixelstrap.com/friendbook/assets/svg/emoji/040.svg"
                                                                alt="smile">
                                                        </li>
                                                        <li>
                                                            <img src="https://themes.pixelstrap.com/friendbook/assets/svg/emoji/113.svg"
                                                                alt="heart">
                                                        </li>
                                                    </ul>
                                                    <h6>+75</h6>
                                                </div>
                                                <div class="right-stats">
                                                    <ul>
                                                        <li>
                                                            <h5>
                                                                <i class="iw-16 ih-16"
                                                                    data-feather="message-square"></i>
                                                                <span>4565</span> comment
                                                            </h5>
                                                        </li>
                                                        <li>
                                                            <h5>
                                                                <i class="iw-16 ih-16"
                                                                    data-feather="share"></i><span>985</span> share
                                                            </h5>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="post-react">
                                                <ul>
                                                    <li class="react-btn">
                                                        <a class="react-click" href="javascript:void(0)">
                                                            <i class="iw-18 ih-18" data-feather="smile"></i> react
                                                        </a>
                                                        <div class="react-box">
                                                            <ul>
                                                                <li data-title="smile">
                                                                    <a href="javascript:void(0)">
                                                                        <img src="https://themes.pixelstrap.com/friendbook/assets/svg/emoji/040.svg"
                                                                            alt="smile">
                                                                    </a>
                                                                </li>
                                                                <li data-title="love">
                                                                    <a href="javascript:void(0)">
                                                                        <img src="https://themes.pixelstrap.com/friendbook/assets/svg/emoji/113.svg"
                                                                            alt="heart">
                                                                    </a>
                                                                </li>
                                                                <li data-title="cry">
                                                                    <a href="javascript:void(0)">
                                                                        <img src="https://themes.pixelstrap.com/friendbook/assets/svg/emoji/027.svg"
                                                                            alt="cry">
                                                                    </a>
                                                                </li>
                                                                <li data-title="wow">
                                                                    <a href="javascript:void(0)">
                                                                        <img src="https://themes.pixelstrap.com/friendbook/assets/svg/emoji/052.svg"
                                                                            alt="angry">
                                                                    </a>
                                                                </li>
                                                                <li data-title="angry">
                                                                    <a href="javascript:void(0)">
                                                                        <img src="https://themes.pixelstrap.com/friendbook/assets/svg/emoji/039.svg"
                                                                            alt="angry">
                                                                    </a>
                                                                </li>
                                                                <li data-title="haha">
                                                                    <a href="javascript:void(0)">
                                                                        <img src="https://themes.pixelstrap.com/friendbook/assets/svg/emoji/042.svg"
                                                                            alt="">
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="comment-click">
                                                        <a href="javascript:void(0)">
                                                            <i class="iw-18 ih-18" data-feather="message-square"></i>
                                                            comment
                                                        </a>
                                                    </li>
                                                    <li data-bs-target="#shareModal" data-bs-toggle="modal">
                                                        <a href="javascript:void(0)">
                                                            <i class="iw-16 ih-16" data-feather="share"></i> share
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="comment-section">
                                                <div class="comments d-block">
                                                    <div class="ldr-comments">
                                                        <ul>
                                                            <li>
                                                                <div class="media">
                                                                    <div class="ldr-img"></div>
                                                                    <div class="media-body">
                                                                        <div class="contents">
                                                                            <div class="ldr-content"></div>
                                                                            <div class="ldr-content"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <ul class="sub-comment">
                                                                    <li>
                                                                        <div class="media">
                                                                            <div class="ldr-img"></div>
                                                                            <div class="media-body">
                                                                                <div class="contents">
                                                                                    <div class="ldr-content"></div>
                                                                                    <div class="ldr-content"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="media">
                                                                    <div class="ldr-img"></div>
                                                                    <div class="media-body">
                                                                        <div class="contents">
                                                                            <div class="ldr-content"></div>
                                                                            <div class="ldr-content"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="media">
                                                                    <div class="ldr-img"></div>
                                                                    <div class="media-body">
                                                                        <div class="contents">
                                                                            <div class="ldr-content"></div>
                                                                            <div class="ldr-content"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="main-comment">
                                                        <div class="media">
                                                            <a href="#" class="user-img popover-cls"
                                                                data-bs-toggle="popover" data-placement="right"
                                                                data-name="Pabelo mukrani"
                                                                data-img="../assets/images/user-sm/2.jpg">
                                                                <img src="../assets/images/user-sm/2.jpg"
                                                                    class="img-fluid blur-up lazyload bg-img"
                                                                    alt="user">
                                                            </a>
                                                            <div class="media-body">
                                                                <a href="#">
                                                                    <h5>Pabelo Mukrani</h5>
                                                                </a>
                                                                <p>Oooo Very Cute and Sweet Dog, happy birthday
                                                                    Cuty.... &#128578;
                                                                </p>
                                                                <ul class="comment-option">
                                                                    <li><a href="#">like (5)</a></li>
                                                                    <li><a href="#">reply</a></li>
                                                                    <li><a href="#">translate</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="comment-time">
                                                                <h6>50 mins ago</h6>
                                                            </div>
                                                        </div>
                                                        <div class="sub-comment">
                                                            <div class="media">
                                                                <a href="#" class="user-img popover-cls"
                                                                    data-bs-toggle="popover" data-placement="right"
                                                                    data-name="sufiya elija"
                                                                    data-img="../assets/images/user-sm/3.jpg">
                                                                    <img src="../assets/images/user-sm/3.jpg"
                                                                        class="img-fluid blur-up lazyload bg-img"
                                                                        alt="user">
                                                                </a>
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <h5>sufiya elija</h5>
                                                                    </a>
                                                                    <p>Thank You So Much ❤❤</p>
                                                                    <ul class="comment-option">
                                                                        <li><a href="#">like</a></li>
                                                                        <li><a href="#">reply</a></li>
                                                                        <li><a href="#">translate</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="comment-time">
                                                                    <h6>50 mins ago</h6>
                                                                </div>
                                                            </div>
                                                            <div class="media">
                                                                <a href="#" class="user-img popover-cls"
                                                                    data-bs-toggle="popover" data-placement="right"
                                                                    data-name="sufiya eliza"
                                                                    data-img="../assets/images/user-sm/4.jpg">
                                                                    <img src="../assets/images/user-sm/4.jpg"
                                                                        class="img-fluid blur-up lazyload bg-img"
                                                                        alt="user">
                                                                </a>
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <h5>sufiya elija</h5>
                                                                    </a>
                                                                    <p>Thank You So Much ❤❤</p>
                                                                    <ul class="comment-option">
                                                                        <li><a href="#">like</a></li>
                                                                        <li><a href="#">reply</a></li>
                                                                        <li><a href="#">translate</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="comment-time">
                                                                    <h6>50 mins ago</h6>
                                                                </div>
                                                            </div>
                                                            <a href="javascript:void(0)" class="loader">
                                                                <i class="iw-15 ih-15" data-feather="rotate-cw"></i>
                                                                load more replies
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="main-comment">
                                                        <div class="media">
                                                            <a href="#" class="user-img popover-cls"
                                                                data-bs-toggle="popover" data-placement="right"
                                                                data-name="pabelo mukrani"
                                                                data-img="../assets/images/user-sm/2.jpg">
                                                                <img src="../assets/images/user-sm/2.jpg"
                                                                    class="img-fluid blur-up lazyload bg-img"
                                                                    alt="user">
                                                            </a>
                                                            <div class="media-body">
                                                                <a href="#">
                                                                    <h5>Pabelo Mukrani</h5>
                                                                </a>
                                                                <p>It’s party time, Sufiya..... and happy birthday
                                                                    cuty 🎉🎊
                                                                </p>
                                                                <ul class="comment-option">
                                                                    <li><a href="#">like</a></li>
                                                                    <li><a href="#">reply</a></li>
                                                                    <li><a href="#">translate</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="comment-time">
                                                                <h6>50 mins ago</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reply">
                                                    <div class="search-input input-style input-lg icon-right">
                                                        <input type="text" class="form-control emojiPicker"
                                                            placeholder="write a comment..">
                                                        <a href="javascript:void(0)">
                                                            <i data-feather="smile" class="icon icon-2 iw-14 ih-14"></i>
                                                        </a>
                                                        <a href="javascript:void(0)">
                                                            <i data-feather="camera" class="icon iw-14 ih-14"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- share post model start -->
<div class="modal fade mobile-full-width" id="shareModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content share-modal">
            <div class="modal-header">
                <div class="setting-dropdown">
                    <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                        <h5 data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">share as post <i
                                class="iw-14" data-feather="chevron-down"></i>
                        </h5>
                        <div class="dropdown-menu custom-dropdown">
                            <ul>
                                <li>
                                    <a href="#">share as post</a>
                                </li>
                                <li>
                                    <a href="#">on friend's feed</a>
                                </li>
                                <li>
                                    <a href="#">in a group</a>
                                </li>
                                <li>
                                    <a href="#">share as message</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="user-info">
                    <div class="media">
                        <a href="#" class="user-img">
                            <img src="../assets/images/user-sm/2.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="user">
                        </a>
                        <div class="media-body">
                            <a href="#">
                                <h5>Pabelo Mukrani</h5>
                            </a>
                            <div class="setting-dropdown">
                                <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                    <h6 data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-font-light left-icon iw-12 ih-12" data-feather="globe"></i>public
                                        <i class="iw-14" data-feather="chevron-down"></i>
                                    </h6>
                                    <div class="dropdown-menu custom-dropdown">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                        data-feather="globe"></i>public</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                        data-feather="users"></i>friends</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                        data-feather="user"></i>friends
                                                    except</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                        data-feather="user"></i>specific
                                                    friends</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                        data-feather="lock"></i>only
                                                    me</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-section">
                    <input type="text" class="form-control emojiPicker" placeholder="write a comment..">
                </div>
                <div class="post-section ratio2_1">
                    <div class="post-img">
                        <img src="../assets/images/post/1.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                    </div>
                    <div class="post-content">
                        <h3>Today Our Three Cute Puppy Dog Birthday
                            !!!!
                        </h3>
                        <h5 class="tag"><span>#ourcutepuppy,</span>
                            #puppy, #birthday, #dog</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-solid">share
                    post</button>
            </div>
        </div>
    </div>
</div>
<!-- share post model end -->


