<!-- login section start -->
<section class="login-section">
    <div class="header-section">
        <div class="logo-sec">
            <a href="index.html">
                <img src="../assets/images/logo-of-cobber.png" alt="logo" class="img-fluid blur-up lazyload">
            </a>
        </div>
        <div class="right-links">

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                <div class="login-welcome">
                    <div>
                        <img src="../assets/images/side-img-login.png" class="img-fluid blur-up lazyload"
                            alt="charcter">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 col-md-10 col-12 m-auto">
                <div class="login-form">
                    <div>
                        <div class="login-title">
                            <img src="../assets/images/logo-of-cobber.png" class="img-fluid blur-up lazyload"
                                alt="charcter">
                        </div>
                        <div class="login-discription">

                            <h4>Welcome to Cobber, create your account below to start using Cobber.</h4>
                        </div>
                        <div class="form-sec">
                            <div>
                                <form class="theme-form" [formGroup]="signupForm" (ngSubmit)="signup()">
                                    <div class="form-group">
                                        <label for="name">Full Name</label>
                                        <input type="text" class="form-control" id="name" formControlName="name"
                                            placeholder="Your Name">
                                        <i class="input-icon iw-20 ih-20" data-feather="user"></i>
                                    </div>
                                    <div class="form-group">
                                        <label for="gender">Gender</label><br>
                                        <input type="radio" formControlName="gender" value="male" checked> Male
                                        
                                        <input type="radio" formControlName="gender" value="female"> Female
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" formControlName="email"
                                            id="exampleInputEmail1" placeholder="Enter email">
                                        <i class="input-icon iw-20 ih-20" data-feather="mail"></i>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" formControlName="password"
                                            id="exampleInputPassword1" placeholder="Password">
                                        <i class="input-icon iw-20 ih-20" data-feather="eye"></i>
                                        <!-- <i class="input-icon iw-20 ih-20" data-feather="eye-off"></i> -->
                                    </div>
                                   
                                    <div class="btn-section">
                                        <button type="submit" (click)="signup()" class="btn btn-solid btn-lg">sign
                                            up</button>
                                        <a routerLink="/login" class="btn btn-solid btn-lg ms-auto">login</a>
                                    </div>
                                </form>
                                <div class="connect-with">
                                    <h6><span>OR Connect With</span></h6>
                                    <ul class="social-links">
                                        <li class="google">
                                            <a href="#">

                                            </a>
                                        </li>
                                        <li class="facebook">
                                            <a href="#">
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#">

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- login section end -->